<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>3000</h1>

    <% require 'pg' %>  

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where not (give_for = '自家消費');") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤー自家消費以外：#{record["give_for"]}" %>
    <% end %>

    <form action="givefor_cgi.cgi" method="POST">
    譲渡先が自家消費ではないゴーヤー<br><br>
    <input type="text" name="givefor" value="<%= data.join(' ') %>">
      <input type="submit" name="確認" >
    </form>

    <% result = connection.exec("select * from crops where quality = false;") %>
    <% data = [] %>

    <% result.each do |record| %>
      <%  data << "ゴーヤーの質：#{record["quality"]}" %>
    <% end %>

    <form action="quality_cgi.cgi" method="POST">
    品質が悪いゴーヤー<br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
       <input type="text" name="quality" value="<%= data.join(' ') %>">
      <input type="submit" name="確認" >
    </form>
  </body>
</html>